{% extends "base.html" %}
{% block content %}
<h2>Feedback da Redação</h2>

<p><strong>Título:</strong> {{ essay.title }}</p>
<p><strong>Texto:</strong></p>
<p>{{ essay.text }}</p>

<h3>Notas por Competência</h3>
<ul>
    <li>Competência 1: {{ essay.comp1_score }}</li>
    <li>Competência 2: {{ essay.comp2_score }}</li>
    <li>Competência 3: {{ essay.comp3_score }}</li>
    <li>Competência 4: {{ essay.comp4_score }}</li>
    <li>Competência 5: {{ essay.comp5_score }}</li>
</ul>
<p><strong>Nota Total:</strong> {{ essay.score_total }}</p>

<h3>Feedback Detalhado</h3>
<ul>
    <li>Competência 1: {{ feedback_data.comp1_feedback }}</li>
    <li>Competência 2: {{ feedback_data.comp2_feedback }}</li>
    <li>Competência 3: {{ feedback_data.comp3_feedback }}</li>
    <li>Competência 4: {{ feedback_data.comp4_feedback }}</li>
    <li>Competência 5: {{ feedback_data.comp5_feedback }}</li>
</ul>

<div>
    {{ radar_div|safe }}
</div>
{% endblock %}
